/***** BASE STYLES *****/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** Header *****/

header {
    height: 800px;
    background: url("img/hero.png") no-repeat fixed center;
    background-size: cover;
}


/***** About *****/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 24px;
}
 
#about p {
    font-size: 18px;
    color: #262a2b;
    line-height: 40px;
    padding-right: 50px;
}

/***** Work *****/

#work {
  background: #f9ceb7;
  text-align: center;
}

#work .full-width {
    padding: 115px 0;
}
 
#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 
    width:
    margin: 0 auto;
}
 
#work p {
    font-family: 
    font-size:
    line-height: 
    color:
    padding: 0 35px;
}

/****** CONTACT ******/

#contact {
    background-color: #ebebeb;
}
#contact .full-width {
    padding: 110px 0;
}
#contact-img{
    border: 12px solid #ffffff;
}
#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
#email-header{
    font-size: 32px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}
#socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0px 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}